@font-face {
    font-family: 'Roboto_Bold';
    src: url('../fonts/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'Roboto_Regular';
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto_Thin';
    src: url('../fonts/Roboto-Light.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-head: #0b0c17;
    --color-p: black;
    --color-a: #ff3571;
    --margin-info: 64px;
}

html {
    font-size: 16px;
}

h1 {
    font-family: 'Roboto_Bold';
    font-size: 3.375rem;
}

h2{
    font-family: 'Roboto_Bold';
    font-size: 2.375rem;
}
h3 {
    font-family: 'Roboto_Bold';
    font-size: 1.125rem;
}
.h3__28pt {
    font-family: 'Roboto_Bold';
    font-size: 1.75rem;
}
.button {
    font-family: Arial;
    font-size: 1.25rem;
}
a{
    font-family: 'Roboto_Bold';
    font-size: 0.875rem;
    text-decoration: none;
    color:var(--color-a);
}
p {
    font-family: 'Roboto_Thin';
    font-size: 1.25rem;
    line-height: 2rem;
}
.div__innen p {
    font-family: 'Roboto_Thin';
    font-size: 0.875rem;
}

/* ! Abschluss Konfiguration */
/* * Start Header */

header {
    position: relative;
    width: 100vw;
    height: 480px;
}

.div__header {
    position: absolute;
    top: 32px;
    left: 64px;
}
.img__fixed {
    position: fixed;
    height: 40px;
    width: 40px;
    left: 16px;
    top: 32px;
}
.div__header p:nth-child(1) {
    font-size: 1.5rem;
    font-family: 'Roboto_Bold';
}
.div__illustration img {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 540px;
    width: 50vw
}
.div__start {
    position: absolute;
    width: 480px;
    height: 320px;
    top: 160px;
    left: 88px;
}
.div__start h1 {
    margin-bottom: 16px;
}
.div__start p {
    margin-bottom: 32px;
}

/* ! Header completed */
/* * Start Main */

.sc__overview {
    margin-bottom: 240px;
}
.sc__overview img {
    width: 100vw;
}

/* ! Section Overview completed */
/* * Start Section Info */

.sc__info {
    margin: 0 var(--margin-info) 240px var(--margin-info);
}
.div__info {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap;
    margin-bottom: 160px;
}
.div__info h2 {
    width: 280px;
    line-height: 3rem;
}
.div__info span {
    content: url('../img/idea.png');
    height: 48px;
}
.div__info p {
    min-width: 560px;
    width: 50vw;
}

.sc__info h2:nth-child(2) {
    width:720px;
    margin: 0 auto;
    transform: translateX(-10%);
    margin-bottom: 280px;
}

/* * Start Article Info */

.article__info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 120px;
}
.div__außen {
    display: flex;
    min-width: 330px;
    max-width: 660px;
    width: calc(100vw/2 - 2 * var(--margin-info));
}
.div__innen {
    margin-left: 16px;
}
.div__innen h3 {
    margin-bottom: 16px;
}
.img__innen {
    height: 32px;
}

/* ! Section Overview Completed */
/* * Start Section Points */

.sc__points {
    
}
.div__points-intro {

}